body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
	max-width: 100%;
}

.billboard {
	position: relative;
	width: 100%;
	background: gray;
}

.hero {
	background-image: url(images/your_verse_hero_2x.jpg);
	background-position: 0 -800px;
	background-size: 1500px;
	background-repeat: no-repeat;
	height: 570px;

	display: grid;
	grid-template-rows: 1fr 2fr;
	justify-items: center;
	overflow: hidden;
}

/* top navigation bar */
.top-nav {
	position: relative;
}

.top-nav ul {
	display: grid;
	grid-template-columns: repeat(10, auto);
	position: relative;
	top: 90px;
}

.top-nav li {
	padding: 8px 30px;
	border: 1px solid grey;
	font-size: 15px;
}

/* nav bar gradient - no change on hover for search bar (last)  */
.top-nav li,
.top-nav .last:hover,
.search-bar input {
	background: linear-gradient(
		#989898 0%,
		#6d6d6d 50%,
		#5e5e5e 10%,
		#787777 100%
	);
}

.top-nav li:hover {
	background: linear-gradient(
		#575757 0%,
		#424242 50%,
		#383838 10%,
		#545454 100%
	);
}

.top-nav a {
	color: white;
	text-decoration: none;
}

.top-nav .first {
	border-radius: 5px 0 0 5px;
}

.top-nav .icon {
	font-size: 20px;
	padding-left: 40px;
	padding-right: 40px;
}

.top-nav .last {
	border-radius: 0 5px 5px 0;
	position: relative;
}

.search-bar input {
	width: 130px;
	border-radius: 10px;
}

.search-bar .fas {
	color: white;
	position: absolute;
	left: 38px;
	top: 12px;
	font-size: 13px;
}

/* Main heading across billboard */
.hero-links {
	margin-top: 0;
	text-align: center;
}
h1 {
	font-size: 55px;
}

.hero-links a {
	text-decoration: none;
	color: white;
}

.hero-links h1 {
	padding-bottom: 50px;
}

.center {
	max-width: 800px;
	margin: 0 auto;
}

h2 {
	font-size: 30px;
	margin-bottom: 30px;
	line-height: 1.3;
}

.small-container {
	display: grid;
	justify-items: center;
	color: white;
}

/* Aside with promo links */
aside .promos {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

aside .promo {
	max-width: 100%;
}
